.current-temp{
    padding: 3%;
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
}

.weather-card-wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 2%;

    .weatherresult-card{
        height: 40vh;
        width: 100%;

        .card-bg{
            background-color: #25f59e;
            width: 95%;
            height: 100%;
            border-radius: 25px;
            // padding-top: 25px;
            // padding-bottom: 25px;

            .weather-card-text{
                font-size: 1.2em;
                font-weight: 300;
                text-decoration: none;
                padding: 10px 15px 10px 15px;
                // color: white;

                &__date{
                    font-size: 1.4em;
                    font-weight: 600;
                    text-decoration: none;
                    padding: 15px 15px 10px 15px;
                }
                
            }
        }
    }
}