.current-temp{
    padding: 3%;
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
}

.weather-card-wrapper{
    display: flex;
    width: 100%;

    .weather-card{
        display: flex;
        justify-content: space-evenly;
        height: 40vh;
        width: 95%;

        .weather-card-inner.isflipped{
            transform: rotateY(180deg);
        }

        .weather-card-inner {
            // background-color: blue;
            height: 100%;
            width: 90%;
            border-radius: 25px;
            transition: transform 1s;
            transform-style: preserve-3d;
            cursor: pointer;
            position: relative;

            .card__face {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                overflow: hidden;
                border-radius: 25px;
                box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
              }

            .weather-card-front {
                background-color: aqua;
                color: red;
            }

            .weather-card-back {
                background-image: linear-gradient(to bottom left, rgb(231, 102, 102) 10%, rgb(229, 231, 87) 115%);
                height: 100%;
                border-radius: 25px;
                transform: rotateY(180deg);

                .weather-card-text {
                    padding: 1%;
                    font-size: 1.5em;
                    font-weight: 700;
                    color: bisque;
                }
            }
        }
    }
}