.mainform {
    background-color: azure;

    .input-message {
        background-color: yellow;
    }

    .area-label {
        background-color: aquamarine;
    }

    .input-field {
        background-color: blue;
    }

    .day-count-btn-1 {
        background-color: red;
    }
    .day-count-btn-2 {
        background-color: blue;
    }
    .day-count-btn-3 {
        background-color: black;
    }

    .metric-count-btn-f {
        background-color: brown;
    }
    .metric-count-btn-c {
        background-color: green;
    }
}