.mainform {
    height: 90vh;

    .input-message {
        text-decoration: underline;
    }

    .area-label {
        padding: 0 1% 0 1%;
    }

    .input-field {
        padding: 0.2%;
        font-size: 1em;
        border-radius: 25px;
        border-style: none;
        box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    }

    .outer-button-wrapper {
        display: flex;
        justify-content: center;
        padding: 1em;
        
        .button-selector-wrapper {
            display: grid;
            align-items: center;
            grid-template-columns: [first-s] 1fr [forth-s] 1fr [first-e second-s] 1fr [forth-e fifth-s] 1fr [second-e third-s] 1fr [fifth-e] 1fr [third-e];
            grid-template-rows: [toprow-s] 1fr [toprow-e bottomrow-s] 1fr [bottomrow-e];
            width: 30%;
            grid-gap: 10px;
    
    
            .day-count-btn-1 {
                grid-column: first-s / first-e;
                grid-row: toprow-s / toprow-e;
                @include buttonBase;
            }
            .day-count-btn-2 {
                grid-column: second-s / second-e;
                grid-row: toprow-s / toprow-e;
                @include buttonBase;
            }
            .day-count-btn-3 {
                grid-column: third-s / third-e;
                grid-row: toprow-s / toprow-e;
                @include buttonBase;
            }
        
            .metric-count-btn-f {
                grid-column: forth-s / forth-e;
                grid-row: bottomrow-s / bottomrow-e;
                @include buttonBase;
            }
            .metric-count-btn-c {
                grid-column: fifth-s / fifth-e;
                grid-row: bottomrow-s / bottomrow-e;
                @include buttonBase;
            }
        }
    }
}