.mainform {
    // background-color: azure;
    height: 90vh;

    .input-message {
        // background-color: yellow;
        text-decoration: underline;
    }

    .area-label {
        // background-color: aquamarine;
        padding: 0 1% 0 1%;
    }

    .input-field {
        // background-color: blue;
        border-radius: 25px;
        border-style: none;
        box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    }

    .button-selector-wrapper {
        display: grid;
        justify-content: center;
        grid-template-columns: [first-s] 25px [forth-s] 25px [first-e second-s] 25px [forth-e fifth-s] 25px [second-e third-s] 25px [fifth-e] 25px [third-e];
        grid-template-rows: [toprow-s] 25px [toprow-e bottomrow-s] 25px [bottomrow-e];
        width: auto;


        .day-count-btn-1 {
            grid-column: first-s / first-e;
            grid-row: toprow-s / toprow-e;
            border-radius: 20%;
            cursor: pointer;
        }
        .day-count-btn-2 {
            grid-column: second-s / second-e;
            grid-row: toprow-s / toprow-e;
            border-radius: 20%;
            cursor: pointer;
        }
        .day-count-btn-3 {
            grid-column: third-s / third-e;
            grid-row: toprow-s / toprow-e;
            border-radius: 20%;
            cursor: pointer;
        }
    
        .metric-count-btn-f {
            grid-column: forth-s / forth-e;
            grid-row: bottomrow-s / bottomrow-e;
            border-radius: 20%;
            cursor: pointer;
        }
        .metric-count-btn-c {
            grid-column: fifth-s / fifth-e;
            grid-row: bottomrow-s / bottomrow-e;
            border-radius: 20%;
            cursor: pointer;
        }
    }
}